@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #DCDCDC;
}

h1, h2 {
  color: #414042;
  font-family: 'Lato', sans-serif;
}

h3, h4, h5, h6 {
  color: #B11116;
  font-family: 'Lato', sans-serif;
}

p {
  color: #414042;
  font-weight: 500;
  font-size: 14px;
}